/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondry-color: #2c4854;
  --section-color: #f6f6f6;
  --paragraph-color: #555;
  --section-padding: 60px;
  --content-margin: 40px;
}
/* End Variables */

/* Start Componants */
.special-heading {
  font-size: 100px;
  font-weight: 800;
  color: #ebeced;
  margin: 0;
  letter-spacing: -3px;
  text-align: center;
}

.special-heading + p {
  font-size: 20px;
  margin: -30px 0 0;
  text-align: center;
  color: #242424;
}

@media (max-width: 768px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading + p {
    font-size: 13px;
    margin: -20px 0 0;
  }
}
/* End Componants */

/* Start Gloale Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Gloale Rules */

/* Start Header */
.header {
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links:hover .icon span:nth-child(2) {
  flex-basis: 100%;
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

.header .links .icon span:nth-child(1) {
  flex-basis: 100%;
}

.header .links .icon span:nth-child(2) {
  flex-basis: 70%;
  transition: 0.3s;
}

.header .links .icon span:nth-child(3) {
  flex-basis: 100%;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  z-index: 1;
  display: none;
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: '';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  right: 5px;
  top: -20px;
}

.header .links ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.header .links ul li a:hover {
  padding-left: 25px;
  background-color: #eee;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing Section */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}

.landing .intro-text p {
  font-size: 20px;
  line-height: 1.7;
}
/* End Landing Section */

/* Start Features */
.feature {
  padding: var(--section-padding) 0;
  background-color: var(--section-color);
}

.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.feature .container .feat {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: 0.3s;
}

.feature .container .feat:hover {
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
}

.feature .container .feat i {
  color: var(--main-color);
}

.feature .container .feat  h3 {
  font-weight: 800;
  margin: 30px 0;
}

.feature .container .feat p {
  line-height: 1.7;
  font-size: 15px;
  color: var(--paragraph-color);
  font-weight: 400;
}
/* End Features */

/* Start Services Section */
.services {
  padding: var(--section-padding) 0;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: var(--content-margin);
}

.services .services-content .col:first-child {
  margin-left: 15px;
}

.services .services-content .col .srv {
  margin-bottom: var(--content-margin);
  display: flex;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.services .services-content .col .srv:hover {
  border-bottom: 2px solid #ddd;
}

.services .services-content .col .srv:hover .text p{
  color: var(--secondry-color);
  padding-top: 2px;
}

@media (max-width: 768px) {
  .services .services-content .col .srv {
    flex-direction: column;
    text-align: center;
    margin-bottom: 0px;
  }
  .services .services-content .col .srv:not(:last-child) {
    margin-bottom: var(--content-margin);
  }
}

.services .services-content .col .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .services-content .col .srv .text {
  flex: 1;
}

.services .services-content .col .srv .text h3{
  margin: 0 0 20px;
}

.services .services-content .col .srv .text p{
  line-height: 1.7;
  color: var(--paragraph-color);
  font-weight: 300;
}

.services .services-content .col .image{
  text-align: center;
  position: relative;
}

.services .services-content .col .image::before{
  content: '';
  position: absolute;
  background-color: var(--secondry-color);
  width: 80px;
  height: calc(100% + 80px);
  top: -40px;
  right: 20px;
  z-index: -1;
}

.services .services-content .col img{
  width: 260px;
}

@media (max-width: 1199px) {
  .services .services-content .col .image{
    display: none;
  }
}
/* End Services Section */

/* Start Portfolio Section */
.portfolio {
  padding: var(--section-padding) 0;
  background-color: var(--section-color);
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: var(--content-margin);
  margin-bottom : var(--content-margin);
}

.portfolio .portfolio-content .card {
  background-color: #fff;
}

.portfolio .portfolio-content .card img {
  max-width: 100%;
}

.portfolio .portfolio-content .card .info {
  padding: 20px;
}

.portfolio .portfolio-content .card .info h3{
  margin: 0;
}

.portfolio .portfolio-content .card .info p{
  color: var(--paragraph-color);
  line-height: 1.7;
  margin-bottom: 0;
}

.portfolio .btn {
  width: 180px;
  background-color: #fff;
  padding: 20px 30px;
  font-weight: 800;
  text-align: center;
  border: 1px solid #333;
  margin: 0 auto;
  cursor: pointer;
}

.portfolio .btn:hover {
  box-shadow:  inset -1px -1px 3px 0px #555;
}

@media (max-width: 768px) {
  .portfolio .portfolio-content .card .info {
    text-align: center;
  }
}
/* End Portfolio Section */

/* Start About Section */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 50px);
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc(var(--content-margin) + 50px);
}

.about .about-content .about-image {
  position: relative;
  width: 250px;
  height: 375px;
}

.about .about-content .about-image::before {
  content: '';
  position: absolute;
  background-color: #ebeced;
  width: 80px;
  height: calc(100% + 100px);
  z-index: -1;
  left: -10px;
  top: -50px;
}

.about .about-content .about-image::after {
  content: '';
  position: absolute;
  border-bottom: 80px solid var(--main-color);
  border-left: 80px solid var(--main-color);
  width: 80px;
  height: 60%;
  z-index: -1;
  right: -100px;
  top: -25px;
}

.about .about-content .about-image img {
  max-width: 100%;
}

.about .about-content .about-text {
  flex-basis: calc(100% - 500px);
}

.about .about-content .about-text p:first-of-type {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.7;
  margin-bottom: 30px;
}

.about .about-content .about-text hr {
  border: none;
  border: 1px solid var(--main-color);
  display: inline-block;
  width: 50%;
}

.about .about-content .about-text p:last-of-type {
  color: var(--paragraph-color);
  line-height: 1.5;
  margin-top: 0;
}

@media (max-width: 991px) {
  .about {
    padding-bottom: var(--section-padding);
  }

  .about .about-content {
    flex-direction: column;
    margin-top: var(--content-margin);
  }

  .about .about-content .about-image::before,
  .about .about-content .about-image::after {
    display: none;
  }

  .about .about-content .about-image {
    margin: 0 auto;
  }

  .about .about-content .about-image img {
    border: 2px solid var(--main-color);
    border-radius: 5px;
  }

  .about .about-content .about-text {
    flex-basis: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .about .about-content {
    margin-top: var(--content-margin);
  }

  .about .about-content .about-image {
    display: none;
  }

  .about .about-content .about-text {
    flex-basis: 100%;
    margin-top: 0;
  }

  .about .about-content .about-text p:first-of-type {
    margin-top: 0;
  }
}
/* End About Section */